{* This is the welcome page, you can delete it *}

{block content}
<div class="container">

    <h2>Zadání</h2>
    <br>
    <ol>
    <li>Vylistování všech značek</li>
        <ul>
            <li>a. Řazení pomocí názvu značky (vzestupně, sestupně)</li>
            <li>b. Stránkování (včetně změny počtu položek na stránku)</li>
            <li>c. Editace značky – jednoduchý popup (není součástí návrhu, nechám na Vás)</li>
            <li>d. Smazání značky</li>
          </ul>
    <li>Přidání nové značky – jednoduchý popup (není součástí návrhu, nechám na Vás)</li>
    </ol>
    
    Očekávané výstupy:
    
    <ol>
        <li>Návrh databáze – v čitelné podobě (ideálně ER diagram) – png, pdf</li>
        <li>SQL pro vytvoření a iniciální naplnění databáze</li>
        <li>Zdrojové kódy aplikace + composer.json soubor popisující závislosti aplikace</li>
        <li>CSS knihovna frameworku Materialize CSS, připojená do aplikace</li>
        <li>SASS soubor s vlastními styly (přizpůsobení prvků knihovny Materialize)</li>
        <li>Přeložený SASS soubor ve formě CSS, připojený do aplikace  </li>
        
    </ol>
    

</div>

