{* Latte template *}
 

{block content}
<div class="container">
       
    <h2>Brands</h2>
    <a class="waves-effect waves-light btn" href="{link Brand:create}">Create new Brand</a>
    
  
   
    <table class="bordered">
        <thead>
          <tr>
            <th>Name
                <a href="{link Brand:default, $paginator->getPage() ,$sort = 'asc'}"><i class="material-icons">arrow_downward</i></a>
                <a href="{link Brand:default, $paginator->getPage() , $sort = 'desc'}"><i class="material-icons">arrow_upward</i></a>
            </th> 
            <th>Action</th>
          </tr>
        </thead>
        {foreach $brands as $brand}
        <tbody>
          <tr>
            <td><p>{$brand->getName()}</p></td>
            <td><a href="{link Brand:edit $brand->getId()}">edit</a></td>
            <td><a href="{link Brand:delete $brand->getId()}" onclick="return confirm('Are you sure?')">delete</a></td>
          </tr>
        </tbody>
        {/foreach}
    </table>
    
    
    
    
    <div class="pagination">
	{if !$paginator->isFirst()}
		<a n:href="default, 1, $sorting, $sizePage">První</a>
		&nbsp;|&nbsp;
		<a n:href="default, $paginator->page-1, $sorting, $sizePage">Předchozí</a>
		&nbsp;|&nbsp;
	{/if}

	Stránka {$paginator->getPage()} z {$paginator->getPageCount()}

	{if !$paginator->isLast()}
		&nbsp;|&nbsp;
		<a n:href="default, $paginator->getPage() + 1, $sorting, $sizePage">Další</a>
		&nbsp;|&nbsp;
		<a n:href="default, $paginator->getPageCount(), $sorting, $sizePage">Poslední</a>
	{/if}
    </div>
    
    <div>
    <a href="{link Brand:default, $paginator->getPage()  ,$sorting, 5 }">5</a>
    <a href="{link Brand:default, $paginator->getPage() , $sorting, 10 }">10</a>
    <a href="{link Brand:default, $paginator->getPage() , $sorting, 50 }">50</a>
    <a href="{link Brand:default, $paginator->getPage() , $sorting, 100 }">100</a>
    </div>
    
    
    
    
</div>
{/block}
